<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   favorites.plist
   FarfetchSuperHeroes

   Created by Allan Martins on 01/07/18.
   Copyright (c) 2018 Allan Martins. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
